@use "sass:map";

.container * {
  @include themed {
    transition: t("themeTransition");
  }
}

.container {
  align-items: flex-start;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "masthead masthead masthead masthead masthead masthead"
    "divider divider divider divider divider divider"
    "main main main main main main"
    "bottom-divider bottom-divider bottom-divider bottom-divider bottom-divider bottom-divider"
    "footer footer footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 6rem 1rem auto 1rem 2rem;
  height: 100vh;
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
}

.masthead {
  @include themed {
    background-color: t("mastheadBg");
    transition: t("themeTransition");
  }

  & {
    align-content: center;
    box-sizing: border-box;
    display: grid;
    gap: 0.25rem 1rem;
    grid-area: masthead;
    grid-template-areas: ". . theme" "head . nav";
    grid-template-columns: 1fr auto;
    grid-template-rows: 3rem auto;
    height: auto;
    left: 0;
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 0.5rem;
    width: 90%;
    z-index: 15;
  }
}

.theme-toggle {
  grid-area: theme;
  height: 1.5rem;
  justify-self: end;
  position: relative;
}

.divider {
  @include themed {
    background: t("dividerBg");
    background-position: 0 0;
    background-size: 100%;
    mask-image: linear-gradient(to right, transparent, black, 85%, transparent);
  }

  & {
    border: none;
    grid-area: divider;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
  }
}

.bottom-divider {
  @include themed {
    background: t("dividerBg");
    background-position: 0 0;
    background-size: 100%;
    mask-image: linear-gradient(to right, transparent, black, 85%, transparent);
  }

  & {
    border: none;
    grid-area: bottom-divider;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
  }
}

.main-content {
  box-sizing: border-box;
  grid-area: main;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 0.5rem;
  position: relative;
  width: 90%;
  z-index: 3;
}

.heading {
  font-weight: 300;
}

.footer {
  grid-area: footer;
  margin: 0 auto;
  max-width: 75rem;
  padding: 0.5rem;
  position: relative;
  width: 90%;
}

@media (width <= 48rem) {
  .container {
    gap: 0.5rem 1rem;
    grid-template-areas:
      "masthead masthead masthead"
      "divider  divider  divider"
      "main     main     main"
      "bottom-divider  bottom-divider  bottom-divider"
      "footer   footer   footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6rem 1rem auto 1rem 2rem;
    margin: 0 auto;
    width: 95vw;

    .theme-toggle {
      grid-area: theme;
      height: 1.5rem;
      justify-self: flex-end;
      margin-top: 0.5rem;
      position: relative;
      right: 0.5rem;
    }
  }

  .masthead {
    align-items: center;
    gap: 1rem;
    grid-template-areas: "nav . theme" "head head head";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem auto;
    height: fit-content;
    margin: 0 0 0 5vw;
    padding-top: 0.5rem;
    width: 90vw;
  }

  .main-content {
    margin: 0 0 0 5vw;
    top: 0rem;
    width: 90vw;
  }
}
