<div class="masthead">
  <%= render "theme_toggle" %>
  <header class="site-header">
    <h1 class="site-name">
      <%= metadata.title %>
    </h1>
  </header>
  <%= render "navigation", metadata: metadata %>
</div>
