<nav class="navigation">
    <button class="navigation-toggle is-closed" data-target="navigation-toggle-button">
      <span class="navigation-toggle__icon-container">
        <svg class="navigation-toggle__icon-definition">
          <defs>
            <filter id="baseFilter">
              <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                result="gooeyness" />
              <feComposite in="SourceGraphic" in2="baseFilter" operator="atop" />
            </filter>
          </defs>
        </svg>
        <svg class="navigation-toggle__menu-icon" version="1.1" height="100" width="100" viewBox="0 0 100 100">
          <path class="line line-1" d="M 50,35 H 30" />
          <path class="line line-2" d="M 50,35 H 70" />
          <path class="line line-3" d="M 50,50 H 30" />
          <path class="line line-4" d="M 50,50 H 70" />
          <path class="line line-5" d="M 50,65 H 30" />
          <path class="line line-6" d="M 50,65 H 70" />
        </svg>
        <svg class="navigation-toggle__close-icon" version="1.1" height="100" width="100" viewBox="0 0 100 100">
          <path class="line" d="M 34,32 L 66,68" />
          <path class="line" d="M 66,32 L 34,68" />
        </svg>
      </span>
      <span class="navigation-toggle__icon-text visually-hidden">Menu</span>
    </button>
    <ul class="navigation-list is-closed" data-target="navigation-toggle-list">
      <li class="nav-link-item"><a href="<%= relative_url '/'  %>" class="nav-link">Home</a></li>
      <li class="nav-link-item"><a href="<%= relative_url '/writings' %>" class="nav-link">Writing</a></li>
      <li class="nav-link-item"><a href="<%= relative_url '/reading-list' %>" class="nav-link">Reading</a></li>
    </ul>
  </nav>
