 <button class="theme-toggle to-dark" data-target="theme-toggle-button">
  <span class="theme-toggle__text for-dark" aria-live="polite">
    <span class="visually-hidden">Switch to</span> dark <span class="visually-hidden">mode</span>
  </span>

  <svg
    aria-hidden="true"
    width="100%"
    height="100%"
    viewBox="0 0 150 150"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    class="theme-toggle__icon"
  >
    <path class="theme-toggle__icon__background" d="M94.232,3.04c-39.716,-10.614 -80.578,13.012 -91.192,52.728c-10.614,39.716 13.012,80.578 52.728,91.192c39.716,10.614 80.578,-13.012 91.192,-52.728c10.614,-39.716 -13.012,-80.578 -52.728,-91.192Z" />
    <g class="theme-toggle__icon__sun">
      <path class="ray for-right-middle" d="M145,74.466l-24.813,9.6l-0,-19.201l24.813,9.601Z"/>
      <path class="ray for-left-middle" d="M5,74.466l24.813,9.6l0,-19.201l-24.813,9.601Z"/>
      <path class="ray for-bottom-center" d="M75,144.466l-9.601,-24.813l19.202,-0l-9.601,24.813Z"/>
      <path class="ray for-top-center" d="M75,4.466l-9.601,24.813l19.202,-0l-9.601,-24.813Z"/>
      <path class="ray for-top-left" d="M118.999,30.284l-4.393,17.97l-13.577,-13.577l17.97,-4.393Z"/>
      <path class="ray for-bottom-right" d="M31.001,118.282l17.97,-4.392l-13.577,-13.578l-4.393,17.97Z" />
      <path class="ray for-bottom-left" d="M118.999,118.282l-17.97,-4.392l13.577,-13.578l4.393,17.97Z" />
      <path class="ray for-top-right" d="M31.001,30.284l4.393,17.97l13.577,-13.577l-17.97,-4.393Z" />
      <circle class="center-circle" cx="75" cy="74.283" r="31.667" fill="#ffffff"/>
    </g>
    <g class="theme-toggle__icon__moon">
      <path d="M71.828,20.591c1.05,-0.06 2.107,-0.091 3.172,-0.091c30.079,0 54.5,24.421 54.5,54.5c0,30.079 -24.421,54.5 -54.5,54.5c-12.319,0 -23.69,-4.096 -32.822,-11c29.446,-0.096 53.322,-24.032 53.322,-53.5c0,-18.487 -9.398,-34.797 -23.672,-44.409Z" />
    </g>
  </svg>

  <span class="theme-toggle__text for-light" aria-live="polite">
    <span class="visually-hidden">Switch to</span> light <span class="visually-hidden">mode</span>
  </span>
</button>